<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar credencial</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <section>
        <h1>Atualize uma credencial</h1>
        <form action="/atualizar-credencial" method="post">
            <div>
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
            </div>
            <div>
                <label for="senha">Senha</label>
                <input id="senha" name="senha" type="password">
            </div>
            <div>
                <label for="id">ID</label>
                <input id="id" name="id" type="number">
            </div>
            <div>
                <button type="submit">Atualizar</button>
            </div>
        </form>
    </section>
</body>

</html>