<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modifique um Usuário</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>
    <h1>O que deseja fazer?</h1>
        
    <a href="/atualizar">
        <button type="button" class="btn btn-primary">Atualizar Usuário</button>
    </a>
    
    <a href="/atualizar-credencial">
        <button type="button" class="btn btn-primary">Atualizar Credencial</button>
    </a>

    <section>
        <h1>Excluir um Usuário</h1>
        <form action="/modUser" method="post">
            <div>
                <label for="id">Digite o id</label>
                <input id="id" name="id" type="text">
            </div>
            <div>
                <button type="submit">Excluir</button>
            </div>
        </form>
    </section>

    <section>
        <h1>Excluir uma Credencial</h1>
        <form action='/modUser/cred' method="post">
            <div>
                <label for="id">Digite o id</label>
                <input id="id" name="id" type="text">
            </div>
            <div>
                <button type="submit">Excluir</button>
            </div>
        </form>
    </section>

    <a href='/home'>
        <button type="button" class="btn btn-primary">Home</button>
    </a>

    <a href='/produtos'>
        <button type="button" class="btn btn-primary">Produtos</button>
    </a>
    
</body>

</html>